body{overflow-x: hidden;}
.sections{
   flex-direction: row;
   padding: 50px;}
   .sections div{width:50%}
   
   .sections div p{
      word-wrap: break-word;
      font-family: 'Big Shoulders Stencil Display', cursive;
      margin:10px 20px !important;
      text-align: left;
   }
   p.head{ 
      font-size:x-large !important;
      margin:10px !important;
      font-weight: bolder !important;
   }   
   .sections div{margin:10px 0;

   }
      .sections div  img{max-width:300px;
         display: flex;
         margin: auto;} 
         .sections div  video{max-width:100%;display: flex;
            margin: auto;}   
   .vid{padding: 0;
      width: 100%;}  
      
      .vid div p{text-align: center;
      font-size:3em !important;
      padding: 11vw;} 
.husk_img{background: url("../img/index.jpeg") no-repeat fixed;
   background-size: 100%;
height: 200vh;
width:100%;
color: blanchedalmond;
align-items: end;
justify-content: end;
padding: 0 !important;}
.husk_img div .head{
   font-size: 45px !important
}
.husk_img div p{
   font-size: 20px !important;
   text-align: center !important;

}
 .husk_img div .vib_btn{
   width: 95px !important;
 }
.sections div  .vib_btn{width: 86px;
   margin:auto;
}           
span.font2{font-size: xx-large;
   text-align: center;}
#apps{flex-direction: row-reverse;
   margin-top: 60vmin;
   }
#apps div{margin: 2vw;}   
#apps div img{width:30vw;} 

@media screen and (min-height:800px){ span.font2 {
   font-size: 4vw;
}
.footer-font{font-size: 1.3em;}
}
@media screen and (min-width:876px) {
   .footer-font{font-size: 1.3em }
}