body{ background-color: #e7b0b0;}
nav{background-color:#e6c8c8}
.sticky_nav{display:none

}
.on_content{
    border:0;
    height:2px;
    background-color:#cc9b9b;
    
}
.content{flex-direction: row;}
.content .main-font{flex-direction: row;
    width: 100%;
justify-content: space-around;}
.content .main-font img{
    border-radius:50%;
    background-color: wheat;
}
.head{display: flex;
    flex-direction: row;
    align-items: center;
margin:10px 0;}
.head p{margin-right: 70px;
}    
.font2{font-size:2em;
    color:black;
}
#follow_b{
   
   
        width: 25%;
        margin: 5px;
        font-family: 'Big Shoulders Stencil Display', cursive;
        font-size: small;
        letter-spacing: 2px;
        cursor: pointer;
        background-color: darkturquoise;
        color: floralwhite;
        transition: all 0.3s ease;
        padding: 0.7em;
    
}
#follow_b:hover{
    background-color: cyan;
    color: crimson;
    padding: 0.9em;
}
.head + .flex_def p{
   text-align:left;
   width:100%;
}
.main-content{
    width:90%;
    height:200px;
   
}
.main-content hr{
  
    background-color:#cc9b9b;
    border:0; 
    height:2px;
    width:100%;
}
#post_tag{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center
}
#post_tag div{
    padding:15px 3vw;
    font-weight: 900;
    position:relative;
    font-size:1.5em;
    color:#d36a6a;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
#post_tag #post::before{content:'';
    position:absolute;
  border:1px solid #d36a6a;
    width:29.0833px;

top: -1px;

}
#post_tag #tag::before{content:'';
    position:absolute;
    border:1px solid  #d36a6a;
    width:47.1836px;

top: -1px;

}
#post_tag_content{
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}

#post_tag_content div{  position:relative;
    width: 28vw;
    height:28vw;
  
    margin:5vw 0;
    display:flex
   }
   #post_tag_content div img{
    
    width: 28vw;}

#post_tag_content div span{display:block ;
    z-index:100;
    color:whitesmoke;
    position: absolute;
    top:14vw;
    left:calc(14vw - 35px );
    font-weight: 900;
    font-size:large;
    text-shadow: 3px  rgba(255,255,255,1);
 } 
 #post_tag_content div span big{
    font-weight: 900;
    font-size:xx-large;
 }
 .lowbright{filter:brightness(80%);}
.hide{display:none !important}
@media screen  and (max-width:336px){
    .head{margin:0}
    .head p{margin-right: 17vmin;}
    .head +.flex_def{width: 100%;}
}
@media screen  and (max-width:875px){    
.head{width: 100%;
justify-content: space-between;} }