@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
*{margin:0;
padding:0}


/* word-wrap: break-word; -:   
 used to break paragraph to next line when it can 't cover width
 of give element*/
 #dynamic_color{animation: body_animation 5s ease-in-out  infinite;}
 div.crimson_font{padding:2em;}
.header .font2{
    font-size: 4em;
    margin-bottom:80px;
    word-wrap: break-word;}
    .bloghead{width:100%;
          margin:auto;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .bloghead p{
        cursor: pointer;
        word-wrap: break-word;
        font-family: 'Lobster';
        font-size: 2em;
        max-width: 60vw;
        margin:14vmin;
    }
    .bloghead div{
        font-family:  'Big Shoulders Stencil Display', cursive;
          margin-bottom:10vmin;
    }
    .main_content{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .main_content .p{font-size:1.3em;
        margin:10vh 20vw;
     
        font-family: 'Bona Nova', serif;
   }
    .main_content .ph{cursor: pointer;
      
        font-family: 'Lobster';
        text-align:center;
        font-size: 2em;}    
    .main_content div{margin: 30px;
       }
    .main_content div img{
        margin:auto;
        min-width:120px;
        max-width: 300px;
    }  
.main_content div .flex_def{
    flex-direction: row;
    justify-content: space-between;
    margin:9px;
}    
.main_content div .flex_def + p{cursor:pointer;
    word-wrap: break-word;
    font-family:'Lobster' ;
    margin:9px;
    font-size: 2em;
    max-width: 300px;
}
.main_content div .flex_def p{
    color:black;
    font-family:'Lobster' ;
}
.main_content div .flex_def  :hover{
    cursor: pointer;
    text-decoration: underline;}
 .help{

 }   
 .help .header{
    
 }
 .help .header .mf {}

 .help .header .mf +div{font-size: 2.5em;
    width: 81vw;}
 .help .vib_btn{
 transform: translateX(-36vw);
margin: 50px;   }
.footer{background-color: #e6c8c8;}
@media screen and (max-width:525px){

.help .vib_btn {
    transform: translateX(-30vw);
    margin: 50px;
}
}
#insert{
    display: flex;
width: 60vw;
padding:10px

}
#insert img{
    width: 50vw;

}




@keyframes body_animation {
0%{background: linear-gradient(0deg,rgba(236, 217, 47,1),rgba(236, 217, 47,0.7),rgba(236, 217, 47,0.5),rgba(236,217,47,0.3),rgba(236, 217, 47,0));
       }
20%{background: linear-gradient(18deg,rgba(236, 217, 47,1),rgba(236, 217, 47,0.7),rgba(236, 217, 47,0.5),rgba(236,217,47,0.3),rgba(236, 217, 47,0));
          }
40%{background: linear-gradient(36deg,rgba(236, 217, 47,1),rgba(236, 217, 47,0.7),rgba(236, 217, 47,0.5),rgba(236,217,47,0.3),rgba(236, 217, 47,0));
             }
60%{background: linear-gradient(54deg,rgba(236, 217, 47,1),rgba(236, 217, 47,0.7),rgba(236, 217, 47,0.5),rgba(236,217,47,0.3),rgba(236, 217, 47,0));
               } 
80%{background: linear-gradient(72deg,rgba(236, 217, 47,1),rgba(236, 217, 47,0.7),rgba(236, 217, 47,0.5),rgba(236,217,47,0.3),rgba(236, 217, 47,0));
  }
100%{background: linear-gradient(90deg,rgba(236, 217, 47,1),rgba(236, 217, 47,0.7),rgba(236, 217, 47,0.5),rgba(236,217,47,0.3),rgba(236, 217, 47,0));
}


}
@media  screen and (max-width:330px) {
    .header{font-size: 0.5em;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
    }
    .main_content div{margin: 0;
        padding: 8px;}    
}