/* word-wrap: break-word; -:   
 used to break paragraph to next line when it can 't cover width
 of give element*/
 div.crimson_font{margin:2em;}
.header .font2{font-size: 4em;
    margin-bottom:80px;
    word-wrap: break-word;}
    .main_content{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .main_content div{margin: 30px;}
    .main_content div img{
        margin:auto;
        min-width:120px;
        max-width: 300px;
    }  
.main_content div .flex_def{
    flex-direction: row;
    justify-content: space-between;
    margin:9px;
}    
.main_content div .flex_def + p{cursor:pointer;
    word-wrap: break-word;
    font-family:'Lobster' ;
    margin:9px;
    font-size: 2em;
    max-width: 300px;
}
.main_content div .flex_def p{
    color:black;
    font-family:'Lobster' ;
}
.main_content div .flex_def  :hover{
    cursor: pointer;
    text-decoration: underline;}
 .help{

 }   
 .help .header{
    
 }
 .help .header .mf {}

 .help .header .mf +div{font-size: 2.5em;
    width: 81vw;}
 .help .vib_btn{
 transform: translateX(-36vw);
margin: 50px;   }
@media screen and (max-width:525px){

.help .vib_btn {
    transform: translateX(-30vw);
    margin: 50px;
}
}