@media screen and (max-width:875px){
    .hamburger ul {
        
        align-items: center;
    }
    nav{
        flex-direction:column ! important;
        align-items:center !important;
    }
    .nav_add_ham{
        flex-direction: column !important;
        align-items: center !important;
    }
    

    nav div {
        margin:20px
    }

    .ham_menu ul{margin:0;}
    .ham_menu ul {
        align-items: center;
    }
    .ham_menu ul li a{ 
        font-size:calc( (100vh - 100px )/ 10);
        text-align: center;
        display: block;
    } 
    .cross_eq_t{padding-top: 0}
   
    .im1 {
        display:none;
    }
    .content {
        /* height:100%; */

    }
    .left {
        width: 100%;
        height:auto;
        order:2;
    }
    .right {
        width: 100%;
        order:1;
    }
    #get_app {
        flex-direction: row;
        margin-top: 56px;
    }
    .footer{order:3;
    }
   
    .top ul {
        justify-content: center;
       
    }
    .ham_t_body::after{width:100%;
    height:100vh;
    animation: ham_res_animate 6s ease-in-out  infinite;}
    @keyframes ham_res_animate {0%{ background: linear-gradient(rgba(90,0,0,1),rgba(90,0,0,0.7),rgba(90,0,0,0.5),rgba(90,0,0,0.3),rgba(90,0,0,0));
      }
    33%{background: linear-gradient(rgba(122, 73, 69,1),rgba(122, 73, 69, 0.7),rgba(122, 73, 69,0.5),rgba(122, 73, 69,0.3),rgba(122, 73, 69, 0));
       }
    66%{background: linear-gradient(rgba(236, 135, 47,1),rgba(236, 135, 47,0.7),rgba(236, 135, 47,0.5),rgba(236,135,47,0.3),rgba(236, 135, 47,0));
      }
    100%{background: linear-gradient(rgba(236, 217, 47,1),rgba(236, 217, 47,0.7),rgba(236, 217, 47,0.5),rgba(236,217,47,0.3),rgba(236, 217, 47,0));
      }
    
    
    }
    .sections{flex-direction: column;
        padding:0;
    }
    .sections div {
        width: 100%;
        margin: 20px 0;
    }
    .sections div p{padding: 10px 5px;
    margin:0;}
    p.head{text-align: center;}
    .sections div  {
        max-width: 100vw;
        
    }
    .vid div p{text-align: center;
        font-size:3em !important;
        padding: 11vw;} 
    .rev{flex-direction: column-reverse;}
    #post_tag_content {
        flex-direction: column;}
        #post_tag_content div {
            width:80%;
            height:80%
        }    
        #post_tag_content div img{
            width:80%;
            
        }
        .about{width: 100%;
            padding-left: 7vmin;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
}
@media screen and (max-width:336px){
    .sections div img {
        max-width: 100vmin;}
    nav {
        font-size: 1em;
    }

    nav div {
        margin: 0.80vmin 0;
    }
    #cross_equal{margin: 1em 0 0;
    padding:0;} 
    #qicon{margin:0;}
    #cross_equal hr{
        width:30px;
        height:2px;
    }
    #toindex a{font-size:1.5em;
        letter-spacing: 0;}
        .main_content div img {
           
            max-width: 90vmin;
        }
        .main_content div {
           
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    #sign{
        margin:1em;
    }
    #bx2 span {
        margin: 16px;
    }
   
}
@media screen and (max-height:415px){ .hide{display:none}
    .ham_menu ul li a{font-size:calc( (100vh - 100px )/ 7);}
}
@media screen and (max-height:450px){nav{font-size: 1em;}}
@media screen and (min-height:840px) {
    .footer-font{
        font-size:1.5em;
    }
    .footer{

    }
}