@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{margin:0;
    padding: 0;

}
:root {
   
  }
  /* to hamburgermenu transition body  */
 .ham_t_body{display:flex;
    flex-direction: column;
   position:relative;
   
} 
.ham_t_body::after{content:"";
     
     height: 100vh;
     position:absolute;
   animation: hamanimation 6s ease-in-out  infinite;
     
      /* -webkit-gradient(linear, from(rgba(230,200,200, 1)), to(rgba(230,200,200, 0))); */
 }
 
 #qicon{margin: 1em 0 0;
     transition: all 0.7s ease-in-out;}
 #toindex{transition: all 0.7s ease-in-out;
    padding: 7px 63px;}
.hide{display:fixed}
 .hand_cursor{cursor:pointer} 
 nav{align-items:start !important;
    flex-direction: row !important;
justify-content: space-between !important;
/* padding: 26px 63px; */
font-size:2em;
transition:all 2s linear;
 }
.sticky_nav{
    position: fixed;
    width: 100%;
    background-color:  #e6c8c8 ;
  
}

.visible{
    display:block !important;
}
.ham_menu{
display:none;
}

.ham_menu ul {
    list-style: none;
    align-items: start;
    margin:50px 0;
    position: relative;
z-index: 6;
}
.ham_menu ul li a{
    font-family:  'Big Shoulders Stencil Display', cursive;
    color:white;
    text-decoration: none;
    transition:all 1s ease-in-out 0.1s;
    font-size:calc( (100vh - 100px )/ 7);
}
.ham_menu ul li a:hover{
    text-decoration: underline;
}

#cross_equal{margin: 1.5em 0 0;
    z-index: 6;
    padding: 0 63px;}

 #cross_equal hr{
   
     width: 50px;
     margin-bottom: 8px;
     height: 3px;
 }
 #thr{transform-origin: center;
transition: all 1s ease-in-out 0.3s;}
#bhr{transform-origin: center;
    transition: all 1s ease-in-out 0.3s;}
 .fthr{background-color:black; transform: rotateZ(45deg) translateY(8px);}
 .fbhr{background-color:black; transform: rotateZ(-45deg) translateY(-8px);}

 
 
 #toindex a{
    font-weight: 900;
    letter-spacing: 9px;
     text-decoration: none;
     font-size: 3em;
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background-clip:text;
     font-family: 'Big Shoulders Stencil Display', cursive;
animation:login 4s linear infinite 0.1s;
 }
 .crimson_font{
     text-decoration: none;
    color:crimson;
    font-size:small;
    margin: 2em 0;
    font-family: 'Big Shoulders Stencil Display', cursive;

} 
 .crimson_font:hover{
     color:cyan
 }   
.font2{
    color:darkred;
    text-decoration: none;
    font-size: small;
    font-family:'Lobster' ;
}
body{
   background-color:  #e6c8c8 ;
}
.mf{
   margin:22px; 
}
.flex_def{ display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
}
.main-font{
    font-family: 'Lobster', cursive;
}
.footer-font{
   
    color:cornflowerblue;
    
    font-weight: 800;
    font-family: 'Big Shoulders Stencil Display', cursive;
   
    font-size: initial;
}
.form{}
.form input{
    width:90%;
    margin:5px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: small;
    letter-spacing: 1.5px;
    padding: 4px;
}  
.form button{
    width:93%;
    margin:5px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: small;
    letter-spacing: 2px;
cursor: pointer;
background-color: darkturquoise;
color:floralwhite;
transition: all 0.3s ease;
padding:0.7em;}
.form button:hover{
    background-color:cyan;
color:crimson;
padding: 0.9em;
}
.big-bx{
    border:1.5px solid #dbdbdb;
    background-color:#ffffff;
    margin:auto;
    padding:auto;
}
.footer{width: 100%;
    
padding-bottom: 4em; 
}

.top{margin:25px;}

.top ul{justify-content: space-around;
    width: 100%;
flex-direction: row;}
.top ul li,.bottom ul li{list-style: none;
    margin:6px;
    cursor:pointer;
   }
    .top ul li a,.bottom ul li a{
        text-decoration: none;
        color:cornflowerblue;
    }
    .top ul li a:hover, .bottom ul li:hover{
        color: dodgerblue;
        font-weight: 600;
    }
.bottom ul{justify-content: center;
    width: 100%;
flex-direction: row;}
#quora_icon{color: white;
    background: #cc2121;
    padding: 6px;
    border-radius: 5px;
margin:9px;}
.footer.stikybottom {
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}
.vib_btn{
    background: linear-gradient(rgba(35, 81, 107, 0.767),crimson);
border-radius: 35px;
    
}
.vib_btn button{padding: 25px;
    border-radius: 35px;
    border: 0;
    margin: 3px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    transition:all 0.5s linear;}
    .vib_btn button:hover {color:cornsilk;
        cursor: pointer;
        background: linear-gradient(rgba(35, 81, 107, 0.767),crimson);
    }    
    @media(hover: hover) and (pointer: fine) {
        .vib_btn button:hover {color:cornsilk;
            background: linear-gradient(rgba(35, 81, 107, 0.767),crimson);
        }   
    }
@media screen and (max-width:336px){
    #sign{
        margin:1em;
    }
    #bx2 span {
        margin: 1em;
    }
}
@media screen and (min-height:900px){
    .ham_menu ul li a{ 
        font-size:78px !important;}
}
@keyframes login {
    0%{color:black; }
    10%{background:linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));}
    20%{background:linear-gradient(rgb(17, 236, 170), rgb(236, 236, 16));}
    55%{background:linear-gradient(rgb(17, 26, 170), rgb(236, 8, 16));}
    65%{background:linear-gradient(rgb(17, 36, 190), rgb(236, 26, 16));}
    67%{background:linear-gradient(rgb(18, 6, 170), rgb(236, 36, 16));}
    100%{background:linear-gradient(rgb(93.5, 108, 170), rgb(236, 135, 47));}
}

@keyframes hamanimation {0%{ background: linear-gradient(90deg,rgba(90,0,0,1),rgba(90,0,0,0.7),rgba(90,0,0,0.5),rgba(90,0,0,0.3),rgba(90,0,0,0));
    width: 50%;}
33%{background: linear-gradient(90deg,rgba(122, 73, 69,1),rgba(122, 73, 69, 0.7),rgba(122, 73, 69,0.5),rgba(122, 73, 69,0.3),rgba(122, 73, 69, 0));
    width: 55%;}
66%{background: linear-gradient(90deg,rgba(236, 135, 47,1),rgba(236, 135, 47,0.7),rgba(236, 135, 47,0.5),rgba(236,135,47,0.3),rgba(236, 135, 47,0));
    width: 60%;}
100%{background: linear-gradient(90deg,rgba(236, 217, 47,1),rgba(236, 217, 47,0.7),rgba(236, 217, 47,0.5),rgba(236,217,47,0.3),rgba(236, 217, 47,0));
    width: 55%;}


}
